/vendor/
/resources/resource_packs/*/animation_controllers/
/resources/resource_packs/*/animations/
/resources/resource_packs/*/attachables/
/resources/resource_packs/*/entity/
/resources/resource_packs/*/fogs/
/resources/resource_packs/*/models/
/resources/resource_packs/*/particles/
/resources/resource_packs/*/render_controllers/
/resources/resource_packs/*/sounds/
/resources/resource_packs/*/texts/
/resources/resource_packs/*/ui/
/resources/resource_packs/*/sounds.json
/resources/resource_packs/*/textures/items/
/resources/resource_packs/*/textures/gui/
/resources/resource_packs/*/textures/environment/
/resources/resource_packs/*/textures/entity/
/resources/resource_packs/*/textures/painting/
/resources/resource_packs/*/textures/particle/
/resources/resource_packs/*/textures/persona_thumbnails/
/resources/resource_packs/*/textures/trims/
/resources/resource_packs/*/textures/ui/
/resources/resource_packs/*/textures/map/
/resources/resource_packs/*/textures/misc/
/resources/resource_packs/*/textures/models/
/resources/resource_packs/*/textures/flame_atlas.png
/resources/resource_packs/*/textures/flipbook_textures.json
/resources/resource_packs/*/textures/forcefield_atlas.png
/resources/resource_packs/*/textures/item_texture.json
/resources/markers/icons_table.md
/resources/markers/openmoji_extractor.py
